* {
	box-sizing: border-box;
	color: white;
	transition: 0.3s;
}

body {
	font-family: 'Lato', sans-serif;
	background: black;
	background-image: url('../images/moon_astronauts_2001.jpg');
	/*background-image: url('../images/2001_station.jpg');*/
  	background-repeat: no-repeat;
  	background-size: 100%;
  	background-attachment: fixed;
  	background-position: 0% 100%;
  	display: flex;
  	flex-direction: column;
   	min-height: 100vh;
}

.title-block {
	margin-top: 7%;
	margin-bottom: 3%;
}

.h1 {
    font-size: 60px;
    word-spacing: 22px;
   
}

.h3, .h4, .h2 {
	font-variant: small-caps;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 1;

}

.footer {
	width: 100%;
	background: rgba(0,0,0,0.4);
	padding-top: 1%;
	padding-bottom: 1%;
	margin-top: 2%;
	border-top: solid 2px rgba(255,255,255,0.1)
}

.contentWrapper {
	flex: 1;
}

#correctGuess li {
	min-width: 20px;
} 

#incorrectGuess, #correctGuess {
	height: 50px;
}

#wordBank li {
	padding-top: 3%;
	margin-top: 3%;
	min-width: 100%;
}

#guessedWords {
	min-height: 400px;
	background: rgba(0,0,0,0.9);
	border: solid 4px rgba(204,204,204,1);
	display: flex;
  	flex-direction: column;
  	max-width: 250px;
  	margin: 0 auto;
  	width: 100%;
}

.hal-image {
	max-width: 90%;
	margin-bottom: 20%;
	opacity: 0.9;
}

.halTextBlock {
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 2px;
	background: rgb(70, 173, 206);
}

.numberTextBlock {
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 2px;
}

.textBlockWrapper {
	border: 2px rgb(70, 173, 206) solid;
	padding: 0;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 15px;
	max-width: 100%;
}

.voiceGrate {
	background-image: url('../images/gratetexture.jpg');
	opacity: 0.9;
	background-size: 100% auto;
	background-repeat: no-repeat;
	position: relative;
	padding-top: 120px;
	border-top: solid 4px rgba(204,204,204,1);
	width: 89%;
	margin: 0 auto;
	float: none;
}

.borderBottom {
	border-bottom: solid 2px rgba(204,204,204,1);
}

.borderBottomRed {
	border-bottom: solid 2px rgba(255,0,0,0.5);
}

.flexContainer {
	flex: 1;
	min-height: 300px;
}

@media screen and (max-width: 768px) {
	.h1 {
		font-size: 38px;
		word-spacing: 9px;

}

@media screen and (max-width: 400px) {
	.voiceGrate {
		width: 83%;
	}
	.h3 {
		text-align: center;
	}
}