* {
	box-sizing: border-box;
	color: white;
	transition: 0.3s;
}

body {
	font-family: 'Lato', sans-serif;
	background: black;
	background-image: url('../images/moon_astronauts_2001.jpg');
	/*background-image: url('../images/2001_station.jpg');*/
  	background-repeat: no-repeat;
  	background-size: 100%;
  	background-attachment: fixed;
  	background-position: 0% 100%;
  	display: flex;
  	flex-direction: column;
  	
  	min-height: 100vh;


}
.title-block {
	margin-top: 7%;
	margin-bottom: 7%;
}
.h1 {
    font-size: 60px;
    word-spacing: 22px;
   
}
.h3, .h4, .h2 {
	font-variant: small-caps;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 1;

}
.footer {
	width: 100%;
	background: rgba(0,0,0,0.4);
	padding-top: 1%;
	padding-bottom: 1%;
	margin-top: 2%;
	border-top: solid 2px rgba(255,255,255,0.1)
}

.contentWrapper {
	flex: 1;

}
#correctGuess li {
	min-width: 20px;
} 
#incorrectGuess, #correctGuess {
	height: 50px;
}

#guessedWords {
	min-height: 200px;
	background: rgba(0,0,0,0.6);
	border: solid 2px rgba(255,255,255,0.1);

}

#wordBank li {
	padding-top: 3%;
	min-width: 50%;
}

@media screen and (max-width: 768px) {
	.h1 {
		font-size: 38px;
		word-spacing: 9px;
	}
}